---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  accent_color: string;
  feature_image: string;
  category_text: string;
  pubdate_text: string;
  title_text: string;
  description_text: string;
  author_image: string;
  author_name: string;
}

const {
  accent_color,
  feature_image,
  category_text,
  pubdate_text,
  title_text,
  description_text,
  author_image,
  author_name,
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,svg,webp}'
);
if (!images[feature_image])
  throw new Error(
    `Feature image "${feature_image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,svg,webp}"`
  );
if (!images[author_image])
  throw new Error(
    `Author image "${author_image}" does not exist in glob: "src/assets/*{jpeg,jpg,png,gif,svg,webp}"`
  );
---

<div class="card">
  <Image src={images[feature_image]()} alt="" height="200" class="blog-image" />
  <div class="info">
    <p class="category font-small bold">
      {category_text}
    </p>
    <p class="pubdate font-small">
      {pubdate_text}
    </p>
    <h2 class="title font-large bold">
      {title_text}
    </h2>
    <p class="description font-medium">
      {description_text}
    </p>
  </div>
  <div class="author">
    <Image
      src={images[author_image]()}
      alt=`${author_name} profile`
      height="32"
    />
    <p class="author-name font-small bold">
      {author_name}
    </p>
  </div>
</div>

<style define:vars={{ accent_color }}>
  .card {
    background-color: var(--white);
    border: 1px solid var(--black);
    filter: drop-shadow(0.5rem 0.5rem var(--black));
    border-radius: 1.25rem;
    min-width: 320px;
    max-width: 384px;
    padding: 1.5rem;
    transition: filter 0.2s ease-in;
  }
  .card:hover {
    filter: drop-shadow(1rem 1rem);
    .title {
      color: var(--accent_color);
    }
  }
  .blog-image {
    border-radius: 0.625rem;
  }
  .title {
    transition: color 0.2s ease-in;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-block: 1.5rem;
  }
  .category {
    width: fit-content;
    padding: 0.25rem 0.75rem;
    background-color: var(--accent_color);
    border-radius: 0.25rem;
  }
  .description {
    color: var(--grey);
  }
  .author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
</style>
