---
import Footer from '../components/Footer.astro';
import Challenge from '../components/challenge/Challenge.astro';

import '../styles/reset.css';
import '../styles/utils.css';
import '../styles/global.css';

interface Website {
  title: string;
  description: string;
  language: string;
}
interface Challenge {
  name: string;
}

import site from '../data/site.json';
const { website, challenge }: { website: Website; challenge: Challenge } = site;
---

<html lang={website.language}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      property="og:description"
      content={website.description}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{challenge.name} | {website.title}</title>
  </head>

  <body>
    <main id="main-grid">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quis
        fugiat alias repellendus cum, eum mollitia est, ea possimus commodi
        aspernatur quas perferendis error esse placeat quo culpa ratione! Eos
        accusamus quae mollitia in saepe atque pariatur velit odio perferendis,
        sit nam? Quis voluptatibus consequatur harum minima, est officia ipsum!
      </p>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  #main-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    /* fallback height */
    min-height: 100vh;

    /* new small viewport height for modern browsers */
    min-height: 100svh;
  }
</style>
